@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');


:root{
    --cor01: #ffffff;
    --cor02: #F8F9FA;  /*#F8F9FA*/
    --cor03: #212121;
    --cor04: #1B1B1B;
    --cor05: #000000;
    --cor06: #F1613A;
    --cor07: #1EE592;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
}

body{
    background-color: var(--cor01);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px 0px;
    background-color: var(--cor02);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.151);

}
.cabecalho-logo{
    width: 175px;
}
.cabecalho-menu{
    display: flex;
    flex-direction: row;
    gap: 30px;

}
.cabecalho-menu-item{
    --font-family: 'Dosis', sans-serif; 
    font-size: 25px; 
    font-weight: bolder; 
    color: var(--cor06);
}
.cabecalho-menu-item:hover{
    text-decoration: underline;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--cor02);
    border-radius: 20px;
    height: 85vh;
    padding: 30px;
    margin: 30px;
    
}

.conteudo-principal-escrito{
    font-size: 5vh;
    text-transform: capitalize;
    overflow: hidden;

}
.conteudo-principal-titulo{
    color: #202124;
    font-weight: 800;
}

.conteudo-principal-paragrafo{
    font-weight: 400;
    font-size: 3vh;

}

.conteudo-principal-imagem{
    border-radius: 100px 400px 100px 400px;
    max-width: 1000px;
    min-width: 400px;
}



.conteudo-secundario{
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    gap: 30px;
}

.conteudo-secundario-paragrafo-principal{
    display: block;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    color: #e63c0e; /*#F1613A*/
    margin: 40px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.466);
    
    
}

.conteudo-secundario-box-icone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #dadada;
    min-width: 350px;
    margin-top: 50px;
    border-radius: 20px;
    border-bottom: 6px solid #F1613A;
    opacity: 70%;
    --cursor: pointer;
    
}
.conteudo-secundario-box-icone:hover{
    opacity: 100%;
    background-color: #d1cece;
    transition: 0.6s;
    transform: translateY(-20px)
}
.conteudo-secundario-icone{
    margin-bottom: 80px;
    font-size: 80px;
    color: #F1613A;
}
.conteudo-secundario-box-icone-titulo{
    color: #000000;
    font-size: 29px;
}
.conteudo-secundario-box-icone-paragrafo{
    color: #242424;
    font-size: 22px;
}

.conteudo-terceiro{
    background-color: var(--cor07);
    width: 60vw;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 30px;
    border-radius: 20px;
    color: #242424;
}
.conteudo-terceiro-titulo{
    font-size: 60px;
    text-align: center;
    margin: 30px 0px;
}
.conteudo-terceiro-paragrafo{
    font-size: 40px;
    text-align: center;
}

.rodape{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 400px;
    margin-top: 30px;
    padding: 30px;
    background-image: linear-gradient(to left, #ff9c60, #ffd6b8);
    color: #202124;
    font-size: 22px;
    text-decoration: none;
}
.rodape-contato-endereco-ancora{
    color: #202124;
}
.rodape-contato-endereco-ancora:hover{
    text-decoration: underline;
}

.rodape-contato-endereco-paragrafo{
    padding: 3px;
}